* {
	pad: 0;
	margin-top: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
navbar{
	background-color: white;
}

.nav-link {
	color: black;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
}

.navbar-brand {
	color: black;
	font-size: 1.4rem;
	font-weight: 800;
	font-family: 'Dancing Script', cursive ;
}

.main{
	background-image: url(./images/bgpic2.jpg);
	background-size: cover;
	width: 100%;
	height: 100vh;
}

.main h3 {
	font-size: 4.4rem;	
	font-weight: 700;
}

.main h6 {
	font-size: 1.4rem;
	text-transform: uppercase;
	line-height: 1;
	border-bottom: 3px solid black;
	width: 40%;
}

#pic2 {
	filter: drop-shadow(20px 20px 10px grey);
}


.section-head {
	margin-bottom: 60px;
}

.section-head h4 {
	position: relative;
	padding: 0;
	color: black;
	line-height: 1;
	letter-spacing: 0.3px;
	font-size: 34px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.item {
	background: #E4D0D0;
	text-align: center;
	padding: 30px 25px;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.07);
	border-radius: 20px;
	margin-bottom: 30px;
	border-radius: 5px solid rgba(0,0,0,0.07);
}

.item h6 {
	font-size: 1.4rem;
	text-transform: uppercase;
	font-weight: 700;
}

.box-shadow{
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.aly h2 {
	font-family: 'Dancing Script', cursive;
}



/*#tools{
	background: url(https://t4.ftcdn.net/jpg/05/54/47/79/360_F_554477926_yKEcMeDTD1oLqKQCjvpryeT5zHLMunNh.jpg);
	background-size: cover;
	width: 100%;
	height: 150vh;

}*/

.custom-col {
	margin-top: 25%;}


p{
	font-size: 12px;
}

.maincontact h2{
	font-family: 'Roboto', sans-serif;

}

.conbg {
	background-color: #D8C4B6;
	color: black;
	font-size: 24px;
}

.btncon {
	background-color: #D5B4B4;
}

footer {
	background-color: #D0B8A8;
}

.website {
	font-family: 'Roboto Slab', serif;
}

.fa-brands {
	color: black;
}

