*{
  margin:  0;
  padding: 0;
  box-sizing:  border-box;
}

.cardHighlight{
  min-height: 100%;
}

.App {
  width: 100%;
  height: auto;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}